HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/logs/2019-09-17)/debug.html
/logs/2019-09-17)/error.html
/logs/2019-09-17)/info.html
/logs/2019-09-17)/log.html
/logs/2019-09-17)/log.log
/logs/2019-09-17)/warn.html
